.h3-outline {
    position: relative;
    border: 2px dashed #f2f200;
    transition: 0.3s ease-in-out, border 0s;
    &::after {
        color: white;
        background: red;
        position: absolute;
        content: "Steal it!";
        bottom: 100%; left: 0%;
        transform: translateX(0%);
    }
}

.h3-box {
    top: 50%;
    right: 10px;
    height: 60vh;
    min-width: 300px;
    max-width: 50vw;
    padding: 10px;
    color: black;
    z-index: 10000;
    position: fixed;
    background: white;
    border-radius: 10px;
    border: 1px solid yellow;
    transform: translateY(-50%);

    width: fit-content;
    height: fit-content;
    max-height: 80vh;
    overflow: auto;
}